
    <%- include('partials/navbar.ejs') %>
    <div>
        <h1>Trending arts</h1>
    </div>
    <!-- carousel -->
    <div class="container">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
      <div class="cards">
        <label class="card" for="item-1" id="song-1">
          <img src="images/4kimage-1.jpg" alt="song">
        </label>
        <label class="card" for="item-2" id="song-2">
          <img src="images/4kimage-2.jpg" alt="song">
        </label>
        <label class="card" for="item-3" id="song-3">
          <img src="images/4kimage-3.jpg" alt="song">
        </label>
      </div>
    </div>
    
        <div class="container-fluid mt-5">
          <div class="row">
              <div class="col-md-10 col-1 mx-auto">
                  <div class="row">
                      <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                          <h1>PLACE FOR ARTISTS</h1>
                          <h1>FIND YOUR JOY HERE!</h1>
                          <p>share your arts <span class="bold-style">let others see you</span></p>
                          <button class="btn-style btn-primary">Read More</button>
                      </div>
                      <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                          <figure class="place-for-artist">
                              <img src="images/place_for_artist.jpeg" alt="herosection_image">
                          </figure>
                      </div>
                  </div>
              </div>
          </div>

<!-- contac us -->
<section id="contact" class="contact-body">
  
  <h1 class="section-header">Contact</h1>
  
  <div class="contact-wrapper">
  
  <!-- Left contact page --> 
    
    <form id="contact-form" class="form-horizontal" role="form" action="/contact" method="POST">
       
      <div style="padding-bottom: 14px;" >
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
        </div>
      </div>

      <div style="padding-bottom: 14px;">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
        </div>
      </div>

      <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
      
      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>
      
      </button>
      
    </form>
    
  <!-- Left contact page --> 
    
  <div class="direct-contact-container">
  
    <ul class="contact-list">
      <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Mysore, Karnataka</span></i></li>
      
      <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:6363750120" title="Give me a call">6363-750120</a></span></i></li>
      
      <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:akash.hp@icloud.com" title="Send me an email">akash.hp@icloud.com</a></span></i></li>
      
    </ul>

    <hr>
    <ul class="social-media-list">
      <li><a href="https://github.com/akash-1717" target="_blank" class="contact-icon" role="button">
        <i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li><a href="#" target="_blank" class="contact-icon" role="button">
        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li>
        <a class="btn contact-icon" href="#" target="_blank" role="button" >
        <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#" target="_blank" class="contact-icon" role="button">
        <i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>       
    </ul>
    <hr>

    <div class="copyright" style="margin-bottom: 2rem;">&copy;<span id="yearyear"></span>, Art Alchemy</div>

  </div>
    
  </div>
  
</section>  
<script src="https://kit.fontawesome.com/f277da5ba5.js" crossorigin="anonymous"></script>
<script>
  document.getElementById('yearyear').innerHTML = new Date().getFullYear();
</script>
</body>
</html>